.nav {
    position: relative;
    top:0;
    left:0;
    width: 100%;
    background: #003399;
    height: 60px;
}

.navigation {
    display:flex;
    height: 100%;
    align-items: center;
    padding:0, 1rem;
}

.logo a {
    margin-left: 10px;
    margin-right: 20px;
}

.nav_logo a {
    color: white;
    font-size:1.5rem;
    text-decoration: none;
}

.nav_items a {
    color: white;
    text-decoration:none;

}

.nav_items a:hover,
.nav_items a:active {
    
}

.nav_items1 {

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 0px 0px;
    left:850px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;

    /*list-style:none;
    margin-top:-1px;
    padding:0 8rem;
    display:flex;
    right: 0px;
    width: 0px;
    position: absolute;*/
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .nav_items1:hover .dropdown-content {
    display: block;
  }

  .nav_items1:hover .dropbtn {
    background-color: #3e8e41;
  }

  .nav_items1 {
    position: relative;
    display: inline-block;
  }


.nav_items2 {
    list-style:none;
    margin-top:5px;
    padding:0 0rem;
    display:flex;
    right: 100px;
    width: 100px;
    position: absolute;
}

.nav_items li {
    padding: 0 0.5rem;
    font-size: 10px
}

.my_cart {
    padding:0 1rem;
    margin-top: -10px;
    
}

